image: Visual Studio 2017

environment:
  shortversion: '0.5.62'
  informationalversion: '0.5.62-beta1'

version: '$(shortversion).{build}'

configuration: Release

install:
- ps: (New-Object Net.WebClient).DownloadString("https://raw.githubusercontent.com/realvizu/Tools/master/Build/buildtools.ps1") | Invoke-Expression

assembly_info:
  patch: true
  file: source\include\VersionInfo.cs
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '$(informationalversion)'

before_build:
# vsixmanifest file must be specified with full path.
- ps: Set-VsixVersion $env:APPVEYOR_BUILD_FOLDER\source\SoftVis.VisualStudioIntegration.Vs2017\source.extension.vsixmanifest $env:shortversion -ErrorAction Stop
- ps: Set-VsixVersion $env:APPVEYOR_BUILD_FOLDER\source\SoftVis.VisualStudioIntegration.Vs2015\source.extension.vsixmanifest $env:shortversion -ErrorAction Stop
- cmd: nuget restore -Verbosity quiet source\QuickDiagramTool.sln

build:
  project: source\QuickDiagramTool.sln
  verbosity: minimal

test:
  assemblies: '**\*UnitTests.dll'

artifacts:
- path: source\SoftVis.VisualStudioIntegration.Vs2017\bin\Release\QuickDiagramTool.vsix